#submaindiv{
    background-color: rgb(211, 222, 229);
    height: 600px;
    width: 1255px;
    display: flex;
   
}
#maindiv{
   
    background-color: rgb(211,222,229);
    height: 650px;
}
#leftdiv{
margin: 1%;
margin-left: 40px;

height: 570px;

}

#rightdiv{
    margin: 1%;
    margin-left: 40px;

    height: 570px;
}
#sbbutton{
    margin-left: 515px;
    height: 25px;
    width: 140px;
    border-radius: 2%;

}
.inputwidth{

    margin-top: 7px;
    width: 500px;
    /* margin: 3%; */
    height: 30px;
  
}

.inpwidth{
    width: 550px;
    height: 30px;
    margin-top: 7px;
}

label{
        
        font-size: 20PX;
     font-weight: 450;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#droplist{
    height: 35px;
}

#tarea{
    height: 70px;
}

#imgfile{
   background-color: white;
  padding-top: 5px;
  padding-left: 5px;
  
}

